@import url(https://fonts.googleapis.com/css?family=Dancing+Script|Quicksand);
#countdown-end {
  display: none; }

.viewport {
  height: 100vh !important; }

body {
  background: #F0EAD6; }

.welcome {
  background: rgba(240, 234, 214, 0.8);
  border-radius: 5px;
  margin-top: 2em;
  text-align: center;
  color: #000;
  font-family: 'Dancing Script', cursive;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s; }
  .welcome h1 {
    font-size: 60px; }
  .welcome P {
    font-size: 24px; }
  .welcome span.line {
    margin-top: .5em;
    border-bottom: 2px solid #000;
    display: inline-block; }
  .welcome i {
    display: inline-block; }

.days {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s; }

.hours {
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s;
  animation-delay: 2.8s; }

.minutes {
  -webkit-animation-delay: 3.1s;
  -moz-animation-delay: 3.1s;
  animation-delay: 3.1s; }

.seconds {
  -webkit-animation-delay: 3.4s;
  -moz-animation-delay: 3.4s;
  animation-delay: 3.4s; }

.scroll, .scroll > i {
  -webkit-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s; }

p {
  font-family: 'Quicksand', sans-serif; }

.navbar-brand {
  font-family: 'Dancing Script', cursive;
  letter-spacing: 2px; }

.backgrounds {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: -1; }

.backgrounds .background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/caseyryan.jpg");
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: 0% 0%;
  position: absolute;
  left: 0;
  top: 0;
  background-attachment: fixed; }

.overlay:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0.8; }
